<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
<body>
    <h1>Pokedex Entry: <%=pokemon.Name%></h1>
    <a href="/pokemon"><h2>BACK TO INDEX</h2></a>
    <br>

    <h2>Pokedex No. <%=pokemon.PokedexNo%></h2>
    <h2>Name: <%=pokemon.Name%></h2>
    <h3>Type: </h3>
    <ul>
        <% pokemon.Type.forEach((type) => { %>
            <li><%=type%></li>
        <%})%>
    </ul>

    <h3>Moves: </h3>
    <ul>
        <% pokemon.Moves.forEach((move) => { %>
            <li><%=move%></li>
        <%})%>
    </ul>

    <!-- update button -->
    <a href="/updatePokemon/<%=pokemon.Name%>">Edit this entry</a>

    <br><br>
    
    <!-- DELETE BUTTON vvv -->
    <form action="/api/pokemon/deletePokemon/<%=pokemon.Name%>?_method=DELETE" method="post">
        <input type="submit" name="_method" value="DELETE THIS POKEMON">
    </form>

</body>
</html>